<div class="row">
	<div class="col-md-3">
		<!-- ユーザー情報 -->
		<%= render 'users/user-info', user: @user %>
		<!-- 新規投稿フォーム -->
		<h4 class="new-book-headline">Direct Message</h4>
		<%= render 'direct_messages/message_form', message: @message, user: @user %>
	</div>

	<div class="col-md-5 col-md-offset-2">
	<%= render 'direct_messages/message_list', direct_messages: @direct_messages %>
	</div>
</div>