<h3 class="user-headline">User info</h3>
<!-- プロフィール画像 -->
<%= user_image_tag(@user, 100, 100, "img-circle center-block") %>

<table class="table">
	<tbody>
		<!-- ユーザーネーム -->
		<tr>
			<th>Name</th>
			<th> <%= @user.name %> </th>
		</tr>
		<!-- 紹介文 -->
		<tr>
			<th>Introduction</th>
			<th><%= @user.introduction %> </th>
		</tr>
	</tbody>
</table>

<!-- ユーザー情報の編集 -->
<% if @user == current_user %>
	<%= link_to "", edit_user_path(user) ,class: "btn btn-default btn-block glyphicon glyphicon-wrench" %>
<% end %>
