<h3 class="user-headline">User info</h3>
<!-- プロフィール画像 -->
<img src="#"  style="width: 100px; height: 100px;">
<table class="table">
	<tbody>
		<!-- ユーザーネーム -->
		<tr>
			<th>Name</th>
			<th> <%= user.name %> </th>
		</tr>
		<!-- 紹介文 -->
		<tr>
			<th>Introduction</th>
			<th><%= user.introduction %> </th>
		</tr>
	</tbody>
</table>

<!-- ユーザー情報の編集 -->
<div>
	<%= link_to "", "#" ,class: "btn btn-default btn-block glyphicon glyphicon-wrench" %>
</div>