
<h1><strong>Users</strong></h1>
<!-- 投稿一覧 -->
<table class="table table-hover">
	<thead>
		<tr>
			<th><strong>Image</strong></th>
			<th><strong>Name</strong></th>
		</tr>
	</thead>
	<% users.each do |user| %>
	<tr>
		<!-- プロフィール画像 -->
		<td>
			<%= link_to user_path(user.id) do %>
				<%= user_image_tag(user, 60, 60, "img-circle pull-left") %>
			<% end %>
		</td>
		<!-- ユーザーの名前 -->
		<td><%= user.name %></td>
		<!-- 詳細ページへ -->
		<td class="btn-group">
			<%= link_to "Show", user_path(user), class: "btn btn-info" %>
		</td>
	</tr>
	<% end %>
</table>
