<div class="row">
	<div class="col-md-3">
		<!-- ユーザー情報 -->
		<%= render 'users/user-info', user: @user %>
		<!-- 新規投稿フォーム -->
		<%= render 'books/new-book-form', book: @book, btn_name: "Create Book" %>

	<div class="col-md-9">
		<!-- 投稿一覧 -->
		<%= render 'users/user-list', users: @users %>
	</div>
</div>