<% if object.errors.any? %>
  <div class="alert alert-danger" id="error_explanation">
    <!-- エラーの件数を表示 -->
    <p><strong><%= object.errors.count %>件のエラーが発生しました。</strong></p>
    <ul>
      <!-- エラーの全文表示 -->
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>