<%= form_for(@book) do |f| %>

	<div class="form-box">
		<p>Title</p>
		<%= f.text_field :title %>

		<p>Body</p>
		<%= f.text_area :body %>

		<%= f.submit "#{btn_name}", class: "submit-btn" %>
	</div>
<% end %>