/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";




/*リセットcss*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// ボディ
body {
	padding-top: 70px;
}

// ヘッダー
header {
	background-color: black;
}
.navbar-header .logo-text {
	color: white;
	font-size: 20px;
}

// トップページ
.top-text-box {
	line-height: 30px;
}

.top-btn {
	color: gray;
}

// フッター
footer {
	font-size: 15px;
}

// user-info
.user-headline {
	font-size: 35px;
}

// new-book
.new-book-headline {
	font-size: 25px;
}

// book-show
.show-box {
	border: 2px solid #000;
	border-radius: 10px;
	font-size: 25px;
}

.show-book-user {
	margin: 20px 0;
}

.show-user-name {
	font-size: 35px;
}

.show-title {
	margin: 10px 0;
}

.show-book-btn {
	margin: 20px 0;
}

















// /*ボディー*/
// body {
// 	margin: 30px;
// }

// /*共有css*/

// h1 {
// 	font-size: 27px;
// }

// strong {
// 	font-weight: bolder;
// }

// .edited-text, .destroyed-text { /* フラッシュテキストの設定*/
// 	margin: 0 0 20px 30px;
// 	font-size: 13px;
// 	color: green;
// }

// /*フォーム*/
// .form-box p {
// 	margin-top: 10px;
// 	font-size: 15px;
// }

// .submit-btn {
// 	display: block;
// 	margin: 10px 0 15px 0;
// }

// /*トップページ*/

// .top-text-box {
// 	margin: 10px 0 0 30px;
// }

// .top-text-box p {
// 	line-height: 60px;
// 	margin-bottom: 20px;
// }

// /*一覧表示*/
// table {
// 	font-size: 13px;
// 	margin: 10px 0 20px 15px;
// }

// td {
// 	padding: 7px 10px 0 0;
// 	font-size: 12px;
// }

// .book-links {
// 	font-size: 15px;
// 	color: #000;
// }

// /*詳細ページ*/

// .show-text-box {
// 	margin-left: 30px;
// }

// .show-text {
// 	font-size: 13px;
// 	margin-bottom: 25px;
// }







